[submodule "programs/i3wm-themer"]
	path = programs/i3wm-themer
	url = https://github.com/unix121/i3wm-themer.git
[submodule ".config/fish/fish-kubectl-completions"]
	path = .config/fish/fish-kubectl-completions
	url = https://github.com/evanlucas/fish-kubectl-completions
[submodule "/home/svzieg/.local/share/nvim/site/pack/git-plugins/start/ultisnips"]
	path = /home/svzieg/.local/share/nvim/site/pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "onedark.vim"]
	path = onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/onedark.vim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule ".local/share/nvim/site/pack/git-plugins/start/yats.vim"]
	path = .local/share/nvim/site/pack/git-plugins/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/nvim-typescript"]
	path = .local/share/nvim/site/pack/git-plugins/opt/nvim-typescript
	url = https://github.com/mhartington/nvim-typescript
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-go"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-fugitive"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-gitgutter"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".local/share/nvim/site/pack/git-plugins/opt/denite.nvim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-sensible"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-dadbod"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-projectionist"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-fish"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-dispatch"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-dotenv"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-dotenv
	url = https://github.com/tpope/vim-dotenv
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-vinegar"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vimwiki"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-repeat"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-speeddating"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-commentary"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-surround"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".local/share/nvim/site/pack/git-plugins/opt/ultisnips"]
	path = .local/share/nvim/site/pack/git-plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".local/share/nvim/site/pack/git-plugins/opt/ale"]
	path = .local/share/nvim/site/pack/git-plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".local/share/nvim/site/pack/git-plugins/opt/lightline.vim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/tagbar"]
	path = .local/share/nvim/site/pack/git-plugins/opt/tagbar
	url = https://github.com/preservim/tagbar
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-smoothie"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie
[submodule ".local/share/nvim/site/pack/git-plugins/opt/vim-startify"]
	path = .local/share/nvim/site/pack/git-plugins/opt/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".local/share/nvim/site/pack/git-plugins/opt/nord-vim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/ayu-vim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/deoplete.nvim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/git-plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".local/share/nvim/site/pack/git-plugins/opt/deoplete-docker"]
	path = .local/share/nvim/site/pack/git-plugins/opt/deoplete-docker
	url = https://github.com/deoplete-plugins/deoplete-docker
[submodule ".local/share/nvim/site/pack/git-plugins/opt/neomake"]
	path = .local/share/nvim/site/pack/git-plugins/opt/neomake
	url = https://github.com/neomake/neomake
[submodule ".local/share/nvim/site/pack/git-plugins/opt/echodoc.vim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/neoformat"]
	path = .local/share/nvim/site/pack/git-plugins/opt/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule ".local/share/nvim/site/pack/git-plugins/opt/deoppet.nvim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/deoppet.nvim
	url = https://github.com/Shougo/deoppet.nvim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/neosnippet-snippets"]
	path = .local/share/nvim/site/pack/git-plugins/opt/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule ".local/share/nvim/site/pack/git-plugins/opt/neosnippet.vim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule ".local/share/nvim/site/pack/git-plugins/opt/defx.nvim"]
	path = .local/share/nvim/site/pack/git-plugins/opt/defx.nvim
	url = https://github.com/Shougo/defx.nvim
[submodule "/home/svzieg/.tmux/plugins/tpm"]
	path = /home/svzieg/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
