[submodule "programs/i3wm-themer"]
	path = programs/i3wm-themer
	url = https://github.com/unix121/i3wm-themer.git
[submodule ".SpaceVim"]
	path = .SpaceVim
	url = ./.SpaceVim
[submodule "/home/svzieg/.tmux"]
	path = /home/svzieg/.tmux
	url = https://github.com/gpakosz/.tmux.git
