[submodule "programs/i3wm-themer"]
	path = programs/i3wm-themer
	url = https://github.com/unix121/i3wm-themer.git
[submodule ".SpaceVim"]
	path = .SpaceVim
	url = ./.SpaceVim
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".config/fish/fish-kubectl-completions"]
	path = .config/fish/fish-kubectl-completions
	url = https://github.com/evanlucas/fish-kubectl-completions
