registry "https://gitlab.scheer-group.com:8080/repository/npm_group/"=true
lastUpdateCheck 1493368442979=true
//gitlab.scheer-group.com:8080/repository/npm_private/:_authToken=3da8df87-7710-3f40-9810-baf91c38e327
registry=https://gitlab.scheer-group.com:8080/repository/npm_group
prefix=/home/svzieg/.npm
package-lock=false
